  <!-- Header -->
  <div class="page-header">
    <div class="container">
      <h2 class="mb-1">📋 المهام اليومية</h2>
      <p class="mb-0 opacity-75">تابع مهامك وخليها منظمة</p>
    </div>
  </div>

  <div class="container pb-5">

    <!-- Filter Buttons -->
    <div class="filter-bar">
      <button class="filter-btn active" data-filter="all"(click)="allTasks()" >الكل</button>
      <button class="filter-btn" data-filter="pending" (click)="notComplete()">غير مكتملة</button>
      <button class="filter-btn" data-filter="completed" (click)="complete()">مكتملة</button>
      <button class="filter-btn" data-filter="high" (click)="highPriority()">أولوية عالية</button>
    </div>

    <!-- Tasks List -->
    <div class="row" id="tasksContainer">

      <!-- Task Card 1 -->
       @for (task of apiTasks.tasks(); track $index) {
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card task-card priority-high" [ngClass]="{completed :task.completed}">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-start mb-2">
              <div class="form-check">
                <input class="form-check-input checked" type="checkbox" [checked]="task.completed">
                <label 
                class="task-title"
                [ngClass]="{'completed-text' : task.completed}"
                >
                {{task.title}}
              </label>
              </div>
              <div class="task-actions">
                <a class="btn btn-primary" routerLink="edit-task/{{task.id}}">✏️</a>
                <button (click)="deleteTask(task.id)" title="حذف">🗑️</button>
              </div>
            </div>
            <a class="btn btn-primary" routerLink="task/{{task.id}}">details</a>
            <p class="task-desc">{{task.description}}</p>
            <div class="task-meta">
              <span class="badge-priority badge-high">{{task.priority|priorityLabel}}</span>
              <span>{{task.createdAt|timeAgo}}</span>
            </div>
          </div>
        </div>
      </div>
    }

    </div>

    <!-- Empty State (اخفيها لو فيه تاسكات، اظهرها لو الليست فاضية) -->
    <div class="empty-state d-none" id="emptyState">
      <i>📭</i>
      <h5>مفيش تاسكات دلوقتي</h5>
      <p>ابدأ ضيف تاسك جديدة عشان تنظم يومك</p>
    </div>

  </div>

  <!-- Floating Add Button -->
  <button class="fab-add" title="إضافة تاسك" routerLink="/add-task">+</button>

